    <style>
      body {
        margin: 0;
        background-color: black;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
}
canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
</style>
